@model IEnumerable<Hospital_Management__System.Models.Doctor>
@{
    ViewData["Title"] = "Doctor";
}

<!-- Doctors Section -->
<section id="doctors" class="doctors section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Doctors</h2>
        <p>Meet Our Doctors and Know Their Specialty</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">
            @foreach (var doctor in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member m-3 p-3">
                        <div class="member-img">
                            <img src="~/img/doctors/doctors-1.jpg" class="img-fluid" alt="Doctor Image">
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>@doctor.DoctorName</h4>
                            <span>@doctor.Department</span>
                        </div>
                    </div>
                </div>

                <!-- End Team Member -->
            }
        </div>
    </div>
</section><!-- /Doctors Section -->




