@{
    ViewData["Title"] = "Home Page";
    
}

    <div class="container">

        <!-- Conditional Gallery Section -->
        <!-- Hero Section -->
        <section id="hero" class="hero section">

            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

                <div class="carousel-item active">
                    <img src="~/img/hero-carousel/hero-carousel-1.jpg" alt="">
                    <div class="container">
                        <h2>Welcome to Medicio</h2>
                        <p>There is always something new! Check out the latest news and stay updated with our images and videos..</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="~/img/hero-carousel/hero-carousel-2.jpg" alt="">
                    <div class="container">
                        <h2>YOUR HEALTH MATTERS</h2>
                        <p>See How We Are Making it Safe for You.</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="~/img/hero-carousel/hero-carousel-3.jpg" alt="">
                    <div class="container">
                        <h2>LATEST NEWS</h2>
                        <p>Cheak Out Our Latest News And Stay Updated.</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

                <ol class="carousel-indicators"></ol>

            </div>

        </section><!-- /Hero Section -->

        <!-- Featured Services Section -->
        <section id="featured-services" class="featured-services section">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-heartbeat icon"></i></div>
                            <h4><a href="" class="stretched-link">Cardiolgy</a></h4>
                            <p> medical diagnosis and treatment of congenital heart defects, coronary artery disease, heart failure </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-pills icon"></i></div>
                            <h4><a href="" class="stretched-link">Hemtology</a></h4>
                            <p> blood disorders include anemia, bleeding disorders such as hemophilia, blood clots, and blood cancers . </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-thermometer icon"></i></div>
                            <h4><a href="" class="stretched-link">Dentistry</a></h4>
                            <p>focused on the teeth, gums, and mouth and treatment of diseases, disorders, and conditions of the mouth</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-dna icon"></i></div>
                            <h4><a href="" class="stretched-link">Rheumatology</a></h4>
                            <p>management of disorders whose common feature is inflammation in the bones, muscles, joints, and internal organs</p>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Featured Services Section -->
        <!-- Call To Action Section -->
        <section id="call-to-action" class="call-to-action section accent-background">

            <div class="container">
                <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-10">
                        <div class="text-center">
                            <h3>In an emergency? Need help now?</h3>
                            <p> Dont Wait Becuse Your Health Matters , You Can Book Your Appointment Now Via Our WebSite , Social Media or Our Phone .</p>
                            <a class="cta-btn" href="#appointment">Make an Appointment</a>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /Call To Action Section -->
       
        


        <!-- Features Section -->
        <section id="features" class="features section">

            <div class="container">

                <div class="row justify-content-around gy-4">
                    <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="~/img/features.jpg" alt=""></div>

                    <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <h3>Our Research Center</h3>
                        <p>Explore our Research centre, Our centres undertake transformative research to address the needs of society and improve health outcomes for all</p>

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                            <i class="fa-solid fa-hand-holding-medical flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Medicin Research</a></h4>
                                <p>rocess of using scientific methods with the aim to produce knowledge about human diseases, the prevention and treatment of illness, and the promotion of health</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                            <i class="fa-solid fa-suitcase-medical flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Blood Resarch</a></h4>
                                <p>lood Research is a peer-reviewed open-access journal that delivers significant clinical, translational and basic study results in hematology and related</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
                            <i class="fa-solid fa-staff-snake flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Cancer Recearch</a></h4>
                                <p>ur researchers have made important discoveries in many medical fields, including cancer, sepsis, inflammation, autoimmune disorders</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                            <i class="fa-solid fa-lungs flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Lung research</a></h4>
                                <p>e Lung Association is helping to improve the quality of life for lung disease patients and their families through our groundbreaking research</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </section>
        <!-- /Features Section -->


        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
                <p>Our Work is to give the patianet the best services he desirve </p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <i class="fas fa-heartbeat"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Clinical Cardiology</h3>
                            </a>
                            <p>
                                The Cardiology Department offers "Same Day Appointments" where the patient can see one of our cardiology consultants, have all their cardiac investigations done on the same day and receive the test results
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-pills"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Electrophysiology</h3>
                            </a>
                            <p>Cardiac Electrophysiology (EP) is mainly concerned with cardiac rhythm disorders. It’s a crucial subspecialty of Cardiology that underwent tremendous and radical developments throughout the last two decade.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-hospital-user"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Oncology</h3>
                            </a>
                            <p>A special area is designated for same-day administration of chemotherapy. Doctors and nurses are available in this area to ensure safety and comfort of cancer patients..</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-dna"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Pulmonology</h3>
                            </a>
                            <p> involves managing patients who need life support and mechanical ventilation. Pulmonologists are specially trained in diseases and conditions of the chest, particularly pneumonia and complicated chest infections.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-wheelchair"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Disabled services</h3>
                            </a>
                            <p>  Disabled services include basic health services as well as assessment, rehabilitation, income maintenance, community care and residential care respite, home care also We afford to them Continuous periodic follow-up .</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-notes-medical"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Stroke Unit</h3>
                            </a>
                            <p>Stroke Unit has assembled a remarkable team that works together to diagnose each patient's problem, plan and deliver the best treatment available to maximize the outcome for each patient.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->
        
        <!-- Tabs Section -->
        <section id="tabs" class="tabs section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Departments</h2>
                <p>Cairo Hospital Contains The Following Departments</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tabs-tab-1">Cardiology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-2">Neurology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-3">Hepatology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-4">Pediatrics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-5">Ophthalmologists</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tabs-tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Cardiology</h3>
                                        <p class="fst-italic">Cardiology is a branch of medicine that deals with disorders of the heart and the cardiovascular system. The field includes medical diagnosis and treatment of congenital heart defects, coronary artery disease, heart failure, and electrophysiology</p>
                                        <p>Physicians who specialize in this field of medicine are called cardiologists, a sub-specialty of internal medicine. Pediatric cardiologists are pediatricians who specialize in cardiology. Physicians who specialize in cardiac surgery are called cardiothoracic surgeons.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/img/departments-1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Neurology</h3>
                                        <p class="fst-italic"> is the branch of medicine dealing with the diagnosis and treatment of all categories of conditions and disease involving the nervous system, which comprises the brain, the spinal cord and the peripheral nerves.</p>
                                        <p>Neurological practice relies heavily on the field of neuroscience, the scientific study of the nervous system</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/img/departments-2.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Hepatology</h3>
                                        <p class="fst-italic">Hepatology is the branch of medicine that incorporates the study of liver, gallbladder, biliary tree, and pancreas as well as management of their disorders.</p>
                                        <p>
                                            Although traditionally considered a sub-specialty of gastroenterology, rapid expansion has led in some countries to doctors specializing solely on this area, who are called hepatologists.
                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/img/departments-3.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Pediatrics</h3>
                                        <p class="fst-italic">We assess how RSV prophylaxis affected the number of infants presenting to pediatric emergency departments with acute respiratory infections.</p>
                                        <p>Nirsevimab can protect a broad infant population against RSV infection with high effectiveness. Approaches including extended catch-up are the most effective, although cost- effectiveness must be considered.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/img/departments-4.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Ophthalmologists</h3>
                                        <p class="fst-italic">Ophthalmologists are physicians specializing in the comprehensive medical and surgical care of the eyes and vision.</p>
                                        <p>Ophthalmologists are the only practitioners medically trained to diagnose and treat all eye and visual problems including vision services (glasses and contacts) and provide treatment.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/img/departments-5.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- /Tabs Section -->


        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Testimonials</h2>
                <p>Watch Our Patiant Testimonials in Our Services</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                            },
                            "1200": {
                              "slidesPerView": 3,
                              "spaceBetween": 20
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class=" bi bi-quote quote-icon-left"></i>
                                    <span>We are happy to be in your hospital. We have obtained the best possible care, in addition to paying attention to all the details of the patient and providing him with the best care..</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Ali Othman</h3>
                                <h4>Ceo &amp; Founder</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>We are happy to be in your hospital. We have obtained the best possible care, in addition to paying attention to all the details of the patient and providing him with the best care..</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Ahmed</h3>
                                <h4>Designer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>We are happy to be in your hospital. We have obtained the best possible care, in addition to paying attention to all the details of the patient and providing him with the best care.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Hoda Nasser</h3>
                                <h4>Store Owner</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>We are happy to be in your hospital. We have obtained the best possible care, in addition to paying attention to all the details of the patient and providing him with the best care.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Mohammed Badran</h3>
                                <h4>Freelancer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>We are happy to be in your hospital. We have obtained the best possible care, in addition to paying attention to all the details of the patient and providing him with the best care.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>Shref Emad</h3>
                                <h4>Entrepreneur</h4>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section>
        <!-- /Testimonials Section -->


       
        <section id="gallery" class="gallery section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Gallery</h2>
                <p> Photo Gallary Of Cairo Hospital facilities and our team at work</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "centeredSlides": true,
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 0
                            },
                            "768": {
                              "slidesPerView": 3,
                              "spaceBetween": 20
                            },
                            "1200": {
                              "slidesPerView": 5,
                              "spaceBetween": 20
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-1.jpg"><img src="~/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-2.jpg"><img src="~/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-3.jpg"><img src="~/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-4.jpg"><img src="~/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-5.jpg"><img src="~/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-6.jpg"><img src="~/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-7.jpg"><img src="~/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/img/gallery/gallery-8.jpg"><img src="~/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Gallery Section -->

    </div>

